/*Fonts*/

$font-primary: "Poiret One", cursive;

/*Colors*/

$white: #ffffff;
$dark-white: #C7C7C7;
$black: #000000;
$light-black: #222;
$gray: #808080;

/*Headings*/

$heading-m: 2.1875rem;
$heading-l: 2.6125rem;

/*Text*/

$text-s: 1.1875rem;
$text-m: 1.375rem;
